<!doctype html>
<html>
  <head>
    <meta name='MSSmartTagsPreventParsing' content='true'>
    <meta charset='UTF-8'>
    <link rel='stylesheet' type='textcss' href='css/jquery-ui/jquery-ui-1.9.2.custom.css'>
    <link rel='stylesheet' type='text/css' href='css/select2.css'>
    <link rel='stylesheet' type='text/css' href='css/browse.css'>
  </head>
  <body data-ng-controller='RepoController'>
    <div id='body'>
      <nav
        id='ds-manifest'
        data-ui-jq='resizable'
        data-ui-options='resizeOpts("reverse")'>
        <h1><a href='{{repo.url}}/'>{{repo.name}}</a></h1>
        <form data-ng-submit='changeRepo()'>
          <input
            data-ng-model='repoForm.id'
            type='text'
            placeholder='repository id'
            title='Change repository'>
          <input
            data-ui-select2='refQuery'
            data-ng-model='repoForm.ref'
            data-placeholder='branch|tag|commit'
            data-ng-disabled='!repo.refs'>
          <button type='submit'></button>
        </form>
        <section class='paths' data-ds-file-nav='item in repo.manifest.files'>
          <h1
            data-ng-bind='item.text'
            data-ng-class='{current: repo.path == item.path, file: !!item.path}'></h1>
          <div
            data-ng-bind='item.name'
            data-ng-class='{current: repo.path == item.path, file: !!item.path}'></div>
        </section>
      </nav>
      <article id='ds-content'>
      </article>
      <nav id='ds-file-nav-backing'>
        <div id='ds-file-nav' data-ui-jq='tabs'>
          <ul>
            <li data-ng-class='{hide: !renderedSrc.toc}'><a href='#ds-toc'><span>TOC</span></a></li>
            <li data-ng-class='{hide: !renderedSrc.names}'><a href='#ds-names'><span>Names</span></a></li>
          </ul>
          <div id='ds-toc' data-ng-class='{hide: !renderedSrc.toc}'>
            <div
              data-ng-repeat='h in renderedSrc.toc'
              data-ng-bind='h.innerText'
              data-ng-click='scrollToHash(h.id)'
              data-indent='{{0 - h.rank}}'
              style='padding-left: {{-1 - h.rank}}em'></div>
          </div>
          <div id='ds-names' data-ng-class='{hide: !renderedSrc.names}'>
            <ul>
              <li
                data-ng-repeat='n in renderedSrc.names'
                data-ng-click-scroll-to='"id:" + n'
                data-ng-click='scrollToHash("id:" + n)'>
                {{n}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </body>
    <script data-main='js/app' src='js/lib/require.js'></script>
</html>
