<!doctype html>
<html data-ng-app='BrowseModule'>
  <head>
    <meta name='MSSmartTagsPreventParsing' content='true'>
    <meta charset='UTF-8'>
    <script data-main='js/app' src='js/lib/require.js'></script>
    <style>
      .code { background-color: wheat }
    </style>
  </head>
  <body data-ng-controller='RepoController'>
    <nav id='manifest'>
      <h1><a href='{{repo.url}}/'>{{repo.name}}</a></h1>
      <form data-ng-submit='changeRepo()'>
        <input
          data-ng-model='newRepoString'
          type='text'
          title='Change repository'>
        <!--span class='visible-{{repo.refs.length > 0}}'>
          <input
            type='text'
            data-ng-model='newRepoRef'
            title='Change branch (or paste commit id)'
          ><button type='button' title='Show branches and tags'>…</button>
          <button type='submit' style='visibility: hidden'>x</button>
        </span-->
        <ul>
          <li data-ng-repeat='ref in repo.refs'>{{ref}}</li>
        </ul>
      </form>
      <section class='paths' data-ds-file-nav='item in repo.manifest.files'>
        <h1 data-ng-bind='item.text'></h1>
        <div data-ng-bind='item.name'></div>
      </section>
    </nav>
    <div data-ng-click='alert("foo")'>foo</div>
    <div id='file'>
      <nav id='table-of-contents' data-ng-class='{show: !!renderedSrc.toc}'>
        <h1>TOC</h1>
        <div
          data-ng-repeat='h in renderedSrc.toc'
          data-ng-bind='h.innerText'
          data-ng-click='scrollToHash(h.id)'
          data-indent='{{0 - h.rank}}'
          style='padding-left: {{0 - h.rank}}em'></div>
      </nav>
      <nav id='id-names' data-ng-class='{show: !!renderedSrc.names}'>
        <h1>Names</h1>
        <ul>
            <li
              data-ng-repeat='n in renderedSrc.names'
              data-ng-click-scroll-to='"id:" + n'
              data-ng-click='scrollToHash("id:" + n)'>
              {{n}}
            </li>
          </ul>
      </nav>
      <article id='content'>
      </article>
    </div>
  </body>
</html>
