@import 'nib'

font-size = 12px
line-height = 21px

content-width = 40em
manifest-width = 12em
content-padding = 1em
manifest-bg = #e7eff3
toc-width = 12em

.content-trait
  margin-right toc-width

.smaller-trait
  font-size 10px
  line-height 21px

.monospace-trait
  font-family Inconsolata, monospace

.sans-serif-trait
  font-family Nobile, Helvetica, Arial, sans-serif

.serif-trait
  font-family Vollkorn, Georgia, serif

.hide
  display none


html
  @extends .sans-serif-trait
  font-size 12px
  line-height 21px
  background-color white
  width 100%
  overflow-x hidden

body
  margin 0
  height 100%
  width 100%

#body
  display table
  height 100%
  width 100%
  position absolute

ul
  list-style-position inside

#ds-content
  display table-cell
  box-shadow 0 0 1em black
  position relative
  z-index 100
  max-width 10em
  //@extends .content-trait

  p,
  .listingblock,
  blockquote,
  .quoteblock,
  .verseblock,
  .paragraph,
  ul,
  ol
    margin-top 0
    margin-bottom 25px

    .title
      font-weight bold

  p,
  blockquote,
  .quoteblock,
  ul,
  ol
    text-align justify

  .quoteblock,
  .verseblock
    margin-left 3em

    &.epigraph

      .content
        font-style italic

  .verseblock

    pre
      font-family inherit
      font-style italic

  hr
    border none
    text-align center
    font-size 150%
    clear both

  hr:after
    content '\2766'

  img
    margin 1.2em 0 1.2em 1.2em
    border none

  .imageblock
    width 14em
    float right
    clear right

    &.unscaled
      width auto
      max-width 100%
      clear both

      img
        width auto
        max-width 100%

    img
      width 12.8em
      float left

    .title
      @extends .smaller-trait
      float right
      margin-right -17em
      text-align left
      width 14em
      margin-top 1.2em
      color grey

  article,
  .hentry
    padding-bottom 4em

    hgroup
      padding-top 1em

    .entry-title
      padding-top 0
      padding-bottom 0
      margin-top 0
      margin-bottom 0

      .n
        display block
        width 4em
        margin-left -4.2em
        padding-right 0.2em
        position absolute
        text-align right
        color red

    .article-content
      clear both

    .sidebarblock
      @extends .smaller-trait
      background-color #fff4f4
      margin-top 3em
      margin-bottom 3em

    .listingblock .content
      background-color #ffffe4

    .attribution.ulist
      @extends .smaller-trait
      margin-top 3em

      ul
        list-style-type none

    footer
      @extends .smaller-trait
      margin-top 3em

  .monospaced
    @extends .monospace-trait

  .latest-post-titles
    display inline

    a:after
      content '; '

    a:last-child:after
      content ''

  .meta
    @extends .smaller-trait
    color gray
    clear both

    .time
      margin-right 0.5em

  .spinner
    opacity 0
    transition opacity 0.5s

    &.active
      opacity 1

  .comments .fb-comments > span
    overflow-y hidden
    transition height 0.5s

  .nextprev
    padding-left 1px
    padding-right 1px
    padding-bottom 3em
    background-color black
    color white
    height 2em

    a,
    a:hover
      color inherit

    .prev
      float left

      &:before
        content '❮ '
        font-size 1.2em

      &:hover:before
        color red

    .next
      float right

      &:after
        content ' ❯'
        font-size 1.2em

      &:hover:after
        color red

#ds-content
  padding: 1.2em content-padding 3em content-padding
  //box-shadow 0.5em 0 1em -0.5em

  .paragraph,
  .listingblock

    .title
      color grey

      .name
        color black

  .listingblock .content,
  pre
    padding-top 0
    margin-top 0
    padding-left content-padding
    padding-right content-padding
    margin-left 0 - content-padding
    margin-right 0 - content-padding
    margin-bottom 25px
    background-color #ffffe4
    float left
    max-width 100%
    min-width 100%
    overflow hidden
    transition max-width 0.4s, box-shadow 0s
    transition-delay 0s, 0.4s

    &:hover
      float left
      box-shadow 0.5em 0 1em -0.5em
      min-width 100%
      max-width 200%
      width auto
      overflow visible
      transition-delay 0s, 0s

    &.collapsed,
    &.collapsed:hover
      height 1em
      overflow hidden
      width content-width

    .listing-collapser
      color grey
      font-size 0.8em
      line-height 0.8em
      cursor pointer
      padding 0
      margin 0
      position absolute
      top 0
      left 0

#ds-manifest
  width manifest-width
  min-width manifest-width
  max-width manifest-width
  padding-left 1em
  padding-right 1em
  color grey
  background-color manifest-bg
  height 100%
  overflow hidden
  display table-cell

  a,
  a:link,
  a:hover
    color inherit

  h1
    color white
    text-shadow -0.1em 0.1em 0.3em black
    word-wrap break-word
    padding 0
    margin 0
    padding-bottom 1em

    a:link
      text-decoration none

  input[type='text']
    display block
    width 100%
    border 1px #aaa solid
    color #808080
    border-radius 4px
    font-size 12px
    line-height 26px
    height 26px
    box-sizing border-box
    padding 0 8px 0 8px
    text-overflow ellipsis
    margin-bottom 2px

    &:focus
      color black

  button[type='submit']
    visibility hidden
    height 1em

  .select2-container
    width 100%

#ds-manifest .paths
  position relative

  .file
    margin-left -2em
    padding-left 2em

  h1
    padding-bottom: 0
    margin-bottom: 0
    color white
    text-shadow -0.1em 0.1em 0.3em black
    width manifest-width + 4em
    text-transform uppercase

    &.file.current
      text-shadow -0.1em 0.1em 0.3em pink
      color crimson

  div
    margin 0
    padding 0
    width manifest-width + 4em
    height 1.8em
    white-space nowrap

  .file.current
    background-color white
    color crimson
    box-shadow 0 0.5em 1em -0.5em black
    margin-left -2em
    padding-left 2em
    position relative
    z-index 1000

  .file:hover
    box-shadow 0 0.5em 1em -0.5em black
    cursor pointer
    background-color lighten(manifest-bg, 4)
    position relative
    z-index 900

    &.file.current
      background-color white

#ds-file-nav-backing
  display table-cell
  width toc-width + 1em
  min-width toc-width + 1em
  max-width toc-width + 1em
  background-color #fafafa

#ds-file-nav
  display block
  position fixed
  width toc-width
  min-width toc-width
  max-width toc-width
  color grey
  list-style-type none
  padding 0
  margin 0
  padding-left 1em
  border none
  background none
  font-family inherit
  font-size inherit
  background-color #fafafa
  border-radius 0

  .ui-widget-content
    border none
    color inherit

  .ui-tabs-panel
    position absolute
    padding 0
    opacity 0
    display block !important
    transition opacity 0.5s
    transition-delay 0s

    &[aria-hidden='false']
      display block
      opacity 1

  .ui-tabs-nav
    border none
    background none
    font-size inherit
    font-family inherit
    line-height inherit
    font-weight inherit
    margin 0
    padding 0
    cursor pointer

    a
      padding 0 1em 0 0

    li
      border none
      background none
      line-height inherit
      color black
      text-transform uppercase

      &.ui-state-focus,
      &.ui-tabs-active,
      &.ui-state-active
        border none
        font-style italic

#ds-names

  ul
    padding 0
    margin 0

  li
    list-style-type none
    padding 0
    margin 0
    cursor pointer

#ds-toc

  div
    cursor pointer

#ds-float-fix
  visibility hidden
  height 0
