@import 'nib'
@import 'jquery-ui.css'
@import 'select2.css'
@import 'bootstrap.css'

font-size = 12px
line-height = 21px

manifest-width = 168px
pad = 12px
manifest-bg = #e7eff3
toc-width = 156px

.content-trait
  margin-right toc-width

.smaller-trait
  font-size 10px
  line-height 21px

.monospace-trait
  font-family Inconsolata, monospace

.sans-serif-trait
  font-family Nobile, Helvetica, Arial, sans-serif

.serif-trait
  font-family Vollkorn, Georgia, serif

.hide
  display none


html
  @extends .sans-serif-trait
  font-size 12px
  line-height 21px
  background-color white
  width 100%
  overflow-x hidden
  overflow-y scroll

body
  margin 0
  height 100%
  width 100%

#body

  &.show
    width 100%
    opacity 1
    transition opacity 0.5s, visibility 0s
    transition-delay 0s, 0.5s

  display table
  width 0
  opacity 0
  height 100%
  width 100%
  position absolute
  transition opacity 0.5s, visibility 0s
  transition-delay 0s, 0.5s

ul
  list-style-position inside

#ds-content
  display table-cell
  box-shadow 0 0 12px black
  position relative
  z-index 100
  max-width 120px
  //@extends .content-trait

  p,
  .listingblock,
  blockquote,
  .quoteblock,
  .verseblock,
  .paragraph,
  ul,
  ol
    margin-top 0
    margin-bottom 25px

    .title
      font-weight bold

  p,
  blockquote,
  .quoteblock,
  ul,
  ol
    text-align justify

  .quoteblock,
  .verseblock
    margin-left 3em

    &.epigraph

      .content
        font-style italic

  .verseblock

    pre
      font-family inherit
      font-style italic

  hr
    border none
    text-align center
    font-size 150%
    clear both

  hr:after
    content '\2766'

  img
    margin 1.2em 0 1.2em 1.2em
    border none

  .imageblock
    width 14em
    float right
    clear right

    &.unscaled
      width auto
      max-width 100%
      clear both

      img
        width auto
        max-width 100%

    img
      width 12.8em
      float left

    .title
      @extends .smaller-trait
      float right
      margin-right -17em
      text-align left
      width 14em
      margin-top 1.2em
      color grey

  article,
  .hentry
    padding-bottom 4em

    hgroup
      padding-top 1em

    .entry-title
      padding-top 0
      padding-bottom 0
      margin-top 0
      margin-bottom 0

      .n
        display block
        width 4em
        margin-left -4.2em
        padding-right 0.2em
        position absolute
        text-align right
        color red

    .article-content
      clear both

    .sidebarblock
      @extends .smaller-trait
      background-color #fff4f4
      margin-top 3em
      margin-bottom 3em

    .listingblock .content
      background-color #ffffe4

    .attribution.ulist
      @extends .smaller-trait
      margin-top 3em

      ul
        list-style-type none

    footer
      @extends .smaller-trait
      margin-top 3em

  .monospaced
    @extends .monospace-trait

  .latest-post-titles
    display inline

    a:after
      content '; '

    a:last-child:after
      content ''

  .meta
    @extends .smaller-trait
    color gray
    clear both

    .time
      margin-right 0.5em

  .spinner
    opacity 0
    transition opacity 0.5s

    &.active
      opacity 1

  .comments .fb-comments > span
    overflow-y hidden
    transition height 0.5s

  .nextprev
    padding-left 1px
    padding-right 1px
    padding-bottom 3em
    background-color black
    color white
    height 2em

    a,
    a:hover
      color inherit

    .prev
      float left

      &:before
        content '❮ '
        font-size 1.2em

      &:hover:before
        color red

    .next
      float right

      &:after
        content ' ❯'
        font-size 1.2em

      &:hover:after
        color red

#ds-content
  padding: (1.2 * pad) pad (3 * pad) pad
  //box-shadow 0.5em 0 1em -0.5em

  .paragraph,
  .listingblock

    .title
      color grey

      .name
        color black

  .ds-name
    font-weight bold
    .ds-info
      color grey
      font-weight normal

  code
    color inherit
    padding none
    white-space normal
    background-color inherit
    border none

  .listingblock .content,
  pre
    padding-top 0
    margin-top 0
    padding-left pad
    padding-right pad
    margin-left 0 - pad
    margin-right 0 - pad
    margin-bottom 25px
    background-color #ffffe4
    float left
    max-width 100%
    min-width 100%
    overflow hidden
    transition max-width 0.4s, box-shadow 0s
    transition-delay 0s, 0.4s
    word-wrap normal
    border-radius 0
    border none

    code
      white-space pre

    &:hover
      float left
      box-shadow 6px 0 pad -6px black
      min-width 100%
      max-width 200%
      width auto
      overflow visible
      transition-delay 0s, 0s

    &.collapsed,
    &.collapsed:hover
      height pad
      overflow hidden
      width content-width

    .listing-collapser
      color grey
      font-size 0.8em
      line-height 0.8em
      cursor pointer
      padding 0
      margin 0
      position absolute
      top 0
      left 0

#ds-manifest
  box-sizing border-box
  width manifest-width
  min-width manifest-width
  max-width manifest-width
  padding-left pad
  padding-right pad
  color grey
  background-color manifest-bg
  height 100%
  overflow hidden
  display table-cell

  a,
  a:link,
  a:hover
    color inherit

    a:link
      text-decoration none

  input[type='text']
    display block
    width 100%
    border 1px #aaa solid
    color #808080
    border-radius 4px
    font-size 12px
    line-height 26px
    height 26px
    box-sizing border-box
    padding 0 8px 0 8px
    text-overflow ellipsis
    margin-bottom 2px

    &:focus
      color black

  button[type='submit']
    visibility hidden
    height pad

  .select2-container
    width 100%

#ds-manifest .paths
  position relative

  .file
    margin-left -(2 * pad)
    padding-left 2 * pad

  ul
    padding-top 0
    margin-top 0

  h1
    padding-bottom 0
    margin-bottom 0
    color white
    text-shadow -2px 2px 3px black
    width 100%
    padding-right 20%
    text-transform uppercase
    font-size 1em
    line-height 20px

    &.file.current
      text-shadow -2px 2px 3px pink
      color crimson

  div
    margin 0
    padding 0
    width 100%
    padding-right 20%
    height 22px
    white-space nowrap

  .file.current
    background-color white
    color crimson
    box-shadow 0 6px pad -6px black
    margin-left -(2 * pad)
    padding-left 2 * pad
    position relative
    z-index 1000

  .file:hover
    box-shadow 0 6px pad -6px black
    cursor pointer
    background-color lighten(manifest-bg, 4)
    position relative
    z-index 900

    &.file.current
      background-color white

#ds-file-nav-backing
  display table-cell
  width toc-width + pad
  min-width toc-width + pad
  max-width toc-width + pad
  background-color #fafafa

#ds-file-nav
  display block
  position fixed
  width toc-width
  min-width toc-width
  max-width toc-width
  color grey
  list-style-type none
  padding 0
  margin 0
  padding-left pad
  border none
  background none
  font-family inherit
  font-size inherit
  background-color #fafafa
  border-radius 0

  .ui-widget-content
    border none
    color inherit

  .ui-tabs-panel
    position absolute
    padding 0
    opacity 0
    display block !important
    transition opacity 0.5s
    transition-delay 0s

    &[aria-hidden='false']
      display block
      opacity 1

  .ui-tabs-nav
    border none
    background none
    font-size inherit
    font-family inherit
    line-height inherit
    font-weight inherit
    margin 0
    padding 0
    cursor pointer

    a
      padding 0 pad 0 0

    li
      border none
      background none
      line-height inherit
      color black
      text-transform uppercase

      &.ui-state-focus,
      &.ui-tabs-active,
      &.ui-state-active
        border none
        font-style italic

#ds-names

  ul
    padding 0
    margin 0

  li
    list-style-type none
    padding 0
    margin 0
    cursor pointer

#ds-toc

  div
    cursor pointer

#ds-float-fix
  visibility hidden
  height 0

#ds-repo-title
  font-size pad
  padding (2 * pad) pad (2.5 * pad) pad
  margin 0 (0 - pad)
  margin-bottom pad
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  background-color darken(manifest-bg, 16)
  font-size 2 * pad

#ds-show-settings
  position fixed
  top 0
  right 0
  z-index 1000
  display inline-block

#ds-alerts
  position fixed
  z-index 1000
  bottom 0
  right 0

  .alert:last-child
    margin-bottom 0
