.content-trait{margin-right:12em}
.smaller-trait,#ds-content .imageblock .title,#ds-content article .sidebarblock,#ds-content .hentry .sidebarblock,#ds-content article .attribution.ulist,#ds-content .hentry .attribution.ulist,#ds-content article footer,#ds-content .hentry footer,#ds-content .meta{font-size:10px;line-height:21px}
.monospace-trait,#ds-content .monospaced{font-family:Inconsolata,monospace}
.sans-serif-trait,html{font-family:Nobile,Helvetica,Arial,sans-serif}
.serif-trait{font-family:Vollkorn,Georgia,serif}
.hide{display:none}
html{font-size:12px;line-height:21px;background-color:#fff;width:100%}
body{margin:0;height:100%;width:100%}
#body{display:table;height:100%;width:100%;position:absolute}
ul{list-style-position:inside}
#ds-content{display:table-cell;-webkit-box-shadow:0 0 1em #000;box-shadow:0 0 1em #000;position:relative;z-index:100;max-width:10em;}
#ds-content p,#ds-content .listingblock,#ds-content blockquote,#ds-content .quoteblock,#ds-content .verseblock,#ds-content .paragraph,#ds-content ul,#ds-content ol{margin-top:0;margin-bottom:25px;}
#ds-content p .title,#ds-content .listingblock .title,#ds-content blockquote .title,#ds-content .quoteblock .title,#ds-content .verseblock .title,#ds-content .paragraph .title,#ds-content ul .title,#ds-content ol .title{font-weight:bold}
#ds-content p,#ds-content blockquote,#ds-content .quoteblock,#ds-content ul,#ds-content ol{text-align:justify}
#ds-content .quoteblock,#ds-content .verseblock{margin-left:3em;}
#ds-content .quoteblock.epigraph .content,#ds-content .verseblock.epigraph .content{font-style:italic}
#ds-content .verseblock pre{font-family:inherit;font-style:italic}
#ds-content hr{border:none;text-align:center;font-size:150%;clear:both}
#ds-content hr:after{content:'\2766'}
#ds-content img{margin:1.2em 0 1.2em 1.2em;border:none}
#ds-content .imageblock{width:14em;float:right;clear:right;}
#ds-content .imageblock.unscaled{width:auto;max-width:100%;clear:both;}
#ds-content .imageblock.unscaled img{width:auto;max-width:100%}
#ds-content .imageblock img{width:12.8em;float:left}
#ds-content .imageblock .title{float:right;margin-right:-17em;text-align:left;width:14em;margin-top:1.2em;color:#808080}
#ds-content article,#ds-content .hentry{padding-bottom:4em;}
#ds-content article hgroup,#ds-content .hentry hgroup{padding-top:1em}
#ds-content article .entry-title,#ds-content .hentry .entry-title{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;}
#ds-content article .entry-title .n,#ds-content .hentry .entry-title .n{display:block;width:4em;margin-left:-4.2em;padding-right:.2em;position:absolute;text-align:right;color:#f00}
#ds-content article .article-content,#ds-content .hentry .article-content{clear:both}
#ds-content article .sidebarblock,#ds-content .hentry .sidebarblock{background-color:#fff4f4;margin-top:3em;margin-bottom:3em}
#ds-content article .listingblock .content,#ds-content .hentry .listingblock .content{background-color:#ffffe4}
#ds-content article .attribution.ulist,#ds-content .hentry .attribution.ulist{margin-top:3em;}
#ds-content article .attribution.ulist ul,#ds-content .hentry .attribution.ulist ul{list-style-type:none}
#ds-content article footer,#ds-content .hentry footer{margin-top:3em}
#ds-content .latest-post-titles{display:inline;}
#ds-content .latest-post-titles a:after{content:'; '}
#ds-content .latest-post-titles a:last-child:after{content:''}
#ds-content .meta{color:#808080;clear:both;}
#ds-content .meta .time{margin-right:.5em}
#ds-content .spinner{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;-ms-transition:opacity .5s;transition:opacity .5s;}
#ds-content .spinner.active{opacity:1;-ms-filter:none;filter:none}
#ds-content .comments .fb-comments > span{overflow-y:hidden;-webkit-transition:height .5s;-moz-transition:height .5s;-o-transition:height .5s;-ms-transition:height .5s;transition:height .5s}
#ds-content .nextprev{padding-left:1px;padding-right:1px;padding-bottom:3em;background-color:#000;color:#fff;height:2em;}
#ds-content .nextprev a,#ds-content .nextprev a:hover{color:inherit}
#ds-content .nextprev .prev{float:left;}
#ds-content .nextprev .prev:before{content:'❮ ';font-size:1.2em}
#ds-content .nextprev .prev:hover:before{color:#f00}
#ds-content .nextprev .next{float:right;}
#ds-content .nextprev .next:after{content:' ❯';font-size:1.2em}
#ds-content .nextprev .next:hover:after{color:#f00}
#ds-content{padding:1.2em 1em 3em 1em;}
#ds-content .paragraph .title,#ds-content .listingblock .title{color:#808080;}
#ds-content .paragraph .title .name,#ds-content .listingblock .title .name{color:#000}
#ds-content .listingblock .content,#ds-content pre{padding-top:0;margin-top:0;padding-left:1em;padding-right:1em;margin-left:-1em;margin-right:-1em;margin-bottom:25px;background-color:#ffffe4;overflow:hidden;}
#ds-content .listingblock .content:after,#ds-content pre:after{display:block;content:' ';-webkit-box-shadow:.5em .5em 1em -.5em #000;box-shadow:.5em .5em 1em -.5em #000;margin-left:-1.2em;margin-right:-1em}
#ds-content .listingblock .content:hover,#ds-content pre:hover{float:left;-webkit-box-shadow:.5em 0 1em -.5em;box-shadow:.5em 0 1em -.5em;min-width:100%;overflow:visible}
#ds-content .listingblock .content.collapsed,#ds-content pre.collapsed,#ds-content .listingblock .content.collapsed:hover,#ds-content pre.collapsed:hover{height:1em;overflow:hidden;width:40em}
#ds-content .listingblock .content .listing-collapser,#ds-content pre .listing-collapser{color:#808080;font-size:.8em;line-height:.8em;cursor:pointer;padding:0;margin:0;position:absolute;top:0;left:0}
#ds-manifest{width:12em;min-width:12em;max-width:12em;padding-left:1em;padding-right:1em;color:#808080;background-color:#e7eff3;height:100%;overflow:hidden;display:table-cell;}
#ds-manifest a,#ds-manifest a:link,#ds-manifest a:hover{color:inherit}
#ds-manifest h1{color:#fff;text-shadow:-.1em .1em .3em #000;word-wrap:break-word;padding:0;margin:0;padding-bottom:1em;}
#ds-manifest h1 a:link{text-decoration:none}
#ds-manifest input[type='text']{display:block;width:100%;border:1px #aaa solid;color:#808080;-webkit-border-radius:4px;border-radius:4px;font-size:12px;line-height:26px;height:26px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 8px 0 8px;-o-text-overflow:ellipsis;text-overflow:ellipsis;margin-bottom:2px;}
#ds-manifest input[type='text']:focus{color:#000}
#ds-manifest button[type='submit']{visibility:hidden;height:1em}
#ds-manifest .select2-container{width:100%}
#ds-manifest .paths{position:relative;}
#ds-manifest .paths .file{margin-left:-2em;padding-left:2em}
#ds-manifest .paths h1{padding-bottom:0;margin-bottom:0;color:#fff;text-shadow:-.1em .1em .3em #000;width:16em;text-transform:uppercase;}
#ds-manifest .paths h1.file.current{text-shadow:-.1em .1em .3em #ffc0cb;color:#dc143c}
#ds-manifest .paths div{margin:0;padding:0;width:16em;height:1.8em;white-space:nowrap}
#ds-manifest .paths .file.current{background-color:#fff;color:#dc143c;-webkit-box-shadow:0 .5em 1em -.5em #000;box-shadow:0 .5em 1em -.5em #000;margin-left:-2em;padding-left:2em;position:relative;z-index:1000}
#ds-manifest .paths .file:hover{-webkit-box-shadow:0 .5em 1em -.5em #000;box-shadow:0 .5em 1em -.5em #000;cursor:pointer;background-color:#f5f8fa;position:relative;z-index:900;}
#ds-manifest .paths .file:hover.file.current{background-color:#fff}
#ds-file-nav-backing{display:table-cell;width:13em;min-width:13em;max-width:13em;background-color:#fafafa}
#ds-file-nav{display:block;position:fixed;width:12em;min-width:12em;max-width:12em;color:#808080;list-style-type:none;padding:0;margin:0;padding-left:1em;border:none;background:none;font-family:inherit;font-size:inherit;background-color:#fafafa;-webkit-border-radius:0;border-radius:0;}
#ds-file-nav .ui-widget-content{border:none;color:inherit}
#ds-file-nav .ui-tabs-panel{position:absolute;padding:0;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);display:block !important;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;-ms-transition:opacity .5s;transition:opacity .5s;-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;-ms-transition-delay:0;transition-delay:0;}
#ds-file-nav .ui-tabs-panel[aria-hidden='false']{display:block;opacity:1;-ms-filter:none;filter:none}
#ds-file-nav .ui-tabs-nav{border:none;background:none;font-size:inherit;font-family:inherit;line-height:inherit;font-weight:inherit;margin:0;padding:0;cursor:pointer;}
#ds-file-nav .ui-tabs-nav a{padding:0 1em 0 0}
#ds-file-nav .ui-tabs-nav li{border:none;background:none;line-height:inherit;color:#000;text-transform:uppercase;}
#ds-file-nav .ui-tabs-nav li.ui-state-focus,#ds-file-nav .ui-tabs-nav li.ui-tabs-active,#ds-file-nav .ui-tabs-nav li.ui-state-active{border:none;font-style:italic}
#ds-names ul{padding:0;margin:0}
#ds-names li{list-style-type:none;padding:0;margin:0;cursor:pointer}
#ds-toc div{cursor:pointer}
#ds-float-fix{visibility:hidden;height:0}
